
@import url('https://fonts.googleapis.com/css2?family=Climate+Crisis&family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Bangers&family=Comfortaa&family=Fugaz+One&family=Gochi+Hand&family=Lato:wght@300&family=Monoton&family=Oswald&family=Quicksand&family=Raleway&family=Roboto:ital@1&family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:700');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:700');
@import url('https://fonts.googleapis.com/css?family=Permanent+Marker:400');
@import url('https://fonts.googleapis.com/css?family=Rock+Salt:400');
@import url('https://fonts.googleapis.com/css?family=Lora:400italic');
@import url('https://fonts.googleapis.com/css?family=Pacifico:400');

/* animation */

#home-container {
    /* background-color: rgba(244, 225, 209, 0.5); */
    /* background-color: rgba(109, 104, 104, 0.5); */
    height: 100vh;
    width: 100wv;
    margin-top: -16px;
}

.animation-border {
    position: relative;
    background: linear-gradient(217deg, rgba(183,38,61,.5), rgba(255,0,0,0.1) 70.71%),            
    linear-gradient(127deg, rgba(246,198,0,.6), rgba(173, 0, 81, 0.5) 70.71%),            
    linear-gradient(336deg, rgba(79, 9, 29, 0.8), rgba(162, 6, 6, 0.8) 70.71%),
    url(../assets/gymscene.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    min-width: 100%;
    min-height: 50vh;
    padding-top: 15% !important;
    padding-bottom: 15% !important;
    box-shadow: 5px 5px 10px rgb(39, 1, 0);
}
.entrance-text{
    font-family: 'Raleway', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    /* height: 25vh; */
    width: 50vw;
    margin-bottom: 90px;
    margin-left: auto;
    margin-right: auto;
    /* background-color: #ede9e9;
    background-color: rgba(239, 237, 235, 0.5);
    box-shadow: 1px 2px 12px rgba(255, 138, 21, 0.5); */
    border-radius: 10px;
    width: 100%;
  
}

.entrance-text-p {
    /* font-family: 'Gochi Hand', cursive;
    margin-top: 50px; */
    /* margin-bottom: 10px;
    color: #EF6C00;
    text-align: center;
    text-shadow: 1px 1px 2px rgb(228, 142, 21);
    letter-spacing: 1px;
    font-weight: bold; */
}
.entrance-text-p:hover {
    cursor: default;
    color: #ffa631;
    text-shadow: 1px 2px 2px rgb(155, 74, 4);
}

.enter-button {
    font-family: 'Oswald', sans-serif;
    /* font-family: Roboto Condensed, sans-serif; */
    /* font-family: 'Gochi Hand', cursive; */
    background-color: rgb(223, 10, 59);
    /* background-color: rgb(144, 1, 53); */
    /* background: linear-gradient(to bottom right, rgba(237, 4, 74, 0.9), rgb(211, 4, 66)); */
    border: 0;
    border-radius: 12px;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-size: 26px;
    font-weight: 500;
    line-height: 2.5;
    outline: transparent;
    padding: 0 1rem;
    text-align: center;
    text-decoration: none;
    transition: box-shadow .2s ease-in-out;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    box-shadow: 1px 2px 2px rgba(22, 1, 35, 0.5);
    border: 1px solid black;
}

#side-navigation-links:link, side-navigation-links:visited {
    color: black;
    font-size: 40px;
    margin-top: 50% !important;
}

.enter-button:not([disabled]):hover {
    background-color: #c30010;
    box-shadow: 1px 1px 10px rgba(26, 14, 1, 0.5);
    text-shadow: 1px 1px 1px rgba(129, 6, 174, 0.5);
    animation: pulse 1s ease-in-out;
}

.nav-btn {
    font-family: 'oswald', sans-serif;
    width: 100%;
    color: rgb(109, 90, 101) !important;
    background-color: rgb(234, 183, 172, 0.5);
    border-bottom: 5px solid rgb(141, 57, 75, 0.2) !important;
    padding: 5px 10px;
    text-decoration: none;
    margin-right: 10px;
    text-align: center;
    padding: 20px;
    font-size: 25px;
  }
  .nav-btn:hover {
    font-family: 'oswald', sans-serif;
    width: 100%;
    color: rgb(74, 67, 80) !important;
    background-color: rgb(234, 183, 172, 0.5);
    border-bottom: 5px solid rgb(141, 57, 75, 0.5) !important;
    padding: 5px 10px;
    text-decoration: none;
    margin-right: 10px;
    text-align: center;
    padding: 20px;
    font-size: 25px;
  }

@keyframes pulse {
    0% {
      transform: scale(1);
      /* background: linear-gradient(to bottom right, rgba(252, 140, 21, 0.9), rgb(238, 17, 54)); */
    }
    50% {
      transform: scale(1.1);
      /* background: linear-gradient(to bottom right, rgba(252, 140, 21, 0.9), rgb(238, 17, 54)); */
    }
    100% {
      transform: scale(1);
      /* background: linear-gradient(to bottom right, rgba(252, 140, 21, 0.9), rgb(238, 17, 54)); */
    }
  }
  @keyframes push {
    0% {
      transform: translateX(-300px);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
  /* .enter-button {
    animation: push 1s ease forwards;
  } */

.header-text {
    position: absolute;
    text-align: center;
    top: 30%;
    left: 50%;
    width: 100vw;
    transform: translate(-50%, -50%);
    z-index: 999;
    font-size: 70px;
    color: rgb(250, 246, 241);
    /* font-family: Roboto Condensed, sans-serif; */
    /* font-family: Permanent Marker, serif; */
    /* font-family: Rock Salt, sans-serif; */
    font-family: 'Monoton', cursive;
    letter-spacing: 1px;
    /* font-size: 50px; */
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: rgba(244, 222, 193, 0.3);
    /* text-transform: uppercase; */
    border: 2px solid rgba(255, 255, 255, 0.2);
    text-shadow: 1px 2px 5px rgb(108, 2, 28);
    opacity: 0.9;
}

@media screen and (max-width: 600px) {
    .header-text {
        font-size: 45px;
        padding-top: 75px;
        padding-bottom: 75px;
    }
}

@keyframes rotate {
	100% {
		transform: rotate(1turn);
	}
}

.header-text::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-top: 1px solid rgb(228, 224, 204, 0.9);
    border-bottom: 1px solid rgb(228, 224, 204, 0.9);
    animation-iteration-count: 2;
    animation: clippath 3s linear; 
}


@keyframes clippath {
    0%,
    100% {
        clip-path: inset(0 0 95% 0);
    }
    25% {
        clip-path: inset(0 95% 0 0);
    }
    50% {
        clip-path: inset(95% 0 0 0);
    }
    75% {
        clip-path: inset(0 0 0 95%);
    }
}


.shadow-gradient-box {
    position: relative;
    width: 200px;
    height: 200px;
    /* background-color: rgb(241, 236, 231); */
  }

.shadow-gradient-box::before {
    content: "";
    position: absolute;
    inset: -5px; /* control the spread */
    transform: translate(10px, 8px); /* control the offsets */
    z-index: -1; /* place the element behind */


    background: linear-gradient(217deg, rgba(183,38,61,.8), rgba(255,0,0,0.1) 70.71%),            
    linear-gradient(127deg, rgba(246,198,0,.8), rgba(173, 0, 81, 0.5) 70.71%),            
    linear-gradient(336deg, rgba(79, 9, 29, 0.8), rgba(162, 6, 6, 0.9) 70.71%);

/* 
    background: linear-gradient(217deg, rgba(183,38,61,.8), rgba(255,0,0,0.1) 70.71%),            
    linear-gradient(127deg, rgba(246,198,0,.8), rgba(173, 0, 81, 0.5) 70.71%),            
    linear-gradient(336deg, rgba(79, 9, 29, 0.8), rgba(162, 6, 6, 0.9) 70.71%); */
    filter: blur(10px); /* control the blur */
  }

  @keyframes slide-in-arrow {
    from {
        transform: translateY(100%);
    }
    to {
        transform: translateY(0);
    }
}

.arrow-down {
    animation: slide-in-arrow 1s ease-out;
    position: absolute;
    left: 0;
    right: 0;
    width: 0; 
    height: 0; 
    border-left: 50vw solid transparent; 
    border-right: 50vw solid transparent; 
    border-top: 80px solid rgba(154, 1, 21, 0.9);
    background-image: linear-gradient( rgb(209, 110, 5), rgb(213, 122, 48, 0.5));
  }
