/* animation */

#home-container {
    background-color: rgba(244, 225, 209, 0.5);
    height: 100vh;
    width: 100wv;
}

.animation-border {
    animation-duration: 0.5s;
    animation-name: animate-fade;
    animation-delay: 0.5s;
    animation-fill-mode: backwards;
    /* background-color: rgb(161, 79, 55); */
    background: linear-gradient(217deg, rgba(183,38,61,.8), rgba(255,0,0,0.1) 70.71%),            
    linear-gradient(127deg, rgba(246,198,0,.8), rgba(133, 0, 173, 0.5) 70.71%),            
    linear-gradient(336deg, rgba(80,28,68,.8), rgba(162, 6, 6, 0.9) 70.71%);
    min-width: 100%;
    min-height: 60vh;
    
}


@keyframes animate-fade {
    0% { opacity: 0; }
    100% { opacity: 1; }
}