/**********    FONT LIST      ***********/
/* font-family: 'Audiowide', cursive;
font-family: 'Bangers', cursive;
font-family: 'Comfortaa', cursive;
font-family: 'Fugaz One', cursive;
font-family: 'Gochi Hand', cursive;
font-family: 'Monoton', cursive;
font-family: 'Oswald', sans-serif;
font-family: 'Quicksand', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Ubuntu', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Bangers&family=Comfortaa&family=Fugaz+One&family=Gochi+Hand&family=Lato:wght@300&family=Monoton&family=Oswald&family=Quicksand&family=Raleway&family=Roboto:ital@1&family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:700');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:700');
@import url('https://fonts.googleapis.com/css?family=Permanent+Marker:400');
@import url('https://fonts.googleapis.com/css?family=Rock+Salt:400');
@import url('https://fonts.googleapis.com/css?family=Lora:400italic');
@import url('https://fonts.googleapis.com/css?family=Pacifico:400');
/***** AUTH CONTEXT  *****/
#notification-button {
    background: linear-gradient(217deg, rgba(255, 0, 98, 0.5), rgba(203, 101, 0, 0.5));
    border: 1px solid rgb(255, 255, 255, 0.2);
    border-radius: 100%;
    color: white;
    padding-top: 3px;
    padding-bottom: 3px;
    width: 40px;
    height: 40px;
}
#notification-button:hover {
    background: linear-gradient(217deg, rgba(255, 0, 98, 0.5), rgba(203, 101, 0, 1));
    border: 1px solid rgba(250, 217, 183, 0.5);
    box-shadow: 1px 2px 10px rgba(255, 232, 208, 0.2);
}

#header {
    background: linear-gradient(217deg, rgba(183,38,61,.8), rgba(255,0,0,0.1) 70.71%),            
    linear-gradient(127deg, rgba(246,198,0,.8), rgba(173, 0, 81, 0.5) 70.71%),            
    linear-gradient(336deg, rgba(79, 9, 29, 0.8), rgba(162, 6, 6, 0.9) 70.71%),
    repeating-linear-gradient(45deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5) 5px, black 5px, black 10px);
    /* margin-bottom: 0px; */
    font-family: 'Oswald', sans-serif;
    background-color: transparent;
    width: 100%;
    text-shadow: 1px 1px 3px rgb(90, 0, 106);
    margin-bottom: 20px;
    color:rgb(244, 240, 247);
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
    animation: slide-in-header 1s ease-out;
    z-index: 9999;
    border-bottom: 3px solid rgba(198, 133, 239, 0.2);
    box-shadow: 1px 2px 10px rgba(198, 133, 239, 0.3);
}


.left-nav {
    margin: 5px;
}
@keyframes slide-in-header {
    from {
        transform: translateY(-100%);
    }
    to {
        transform: translateY(0);
    }
}
@keyframes slide-in-footer {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0);
    }
}

.footer {
    background: linear-gradient(217deg, rgba(183,38,61,.5), rgba(255,0,0,0.1) 70.71%),            
    linear-gradient(127deg, rgba(246,198,0,.6), rgba(173, 0, 81, 0.5) 70.71%),            
    linear-gradient(336deg, rgba(79, 9, 29, 0.8), rgba(162, 6, 6, 0.8) 70.71%),
    repeating-linear-gradient(45deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5) 5px, black 5px, black 10px);
    color: white;
    font-family: 'Raleway', sans-serif;
    /* text-transform: uppercase; */
    animation: slide-in-footer 1s ease-out;
    font-family: 'Oswald', sans-serif;
    background-color: transparent;
    width: 100%;
    text-shadow: 1px 1px 3px rgb(90, 0, 106);
    color:rgb(244, 240, 247);
    /* text-transform: uppercase; */
    font-size: 20px;
    font-weight: bold;
    border-top: 3px solid rgba(198, 133, 239, 0.2);
    box-shadow: 1px 2px 10px rgba(198, 133, 239, 0.3);
}

.header {
    color:rgb(255, 0, 68);
    text-shadow: 1px 1px 3px rgba(174, 0, 249, 0.3);
}
.infoText {
    color:rgb(255, 0, 68, 0.8);
    text-shadow: 1px 1px 3px rgba(174, 0, 249, 0.3);
    text-transform: uppercase;
    font-size: 20px;
}

.user-object-placeholder {
    /* border: 10px solid rgb(255, 255, 255, 0.5); */
    /* margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 50px;
    padding: 20px;
    width: 80%; */
    padding-bottom: 20px;
    margin-bottom: 20px;
}

@media screen and (max-width: 600px) {
    .user-object-placeholder {
        width: 100%;
        /* margin: 0; */
        /* padding: 20px; */
    }
    .tinder-card-placeholder {
        margin-left: 10% !important;
        margin-right: 10% !important;
    }
}
.tinder-card-placeholder {
    background: linear-gradient(140deg, rgb(255, 255, 255), rgba(231, 231, 231, 0.1));
    background-color: white;
    box-shadow: 1px 2px 10px rgb(44, 44, 44, 0.5);
    border-radius: 5px;
    border: 10px solid rgb(255, 255, 255, 0.5);
    /* margin-left: 20px;
    margin-right: 20px; */
    margin-left: 20%;
    margin-right: 20%;
}

.header {
    display: flex;
    align-items: center;    
    justify-content: center;
    font-family: 'Oswald', sans-serif;
    text-transform: capitalize;
    padding: 20px;
    margin: 10px;
    letter-spacing: 0.4px;
    font-weight: 900;
    /* background-color: white; */
}
.new-matches-list-display {
    background-color: white;
}
#profile-location {
    text-transform: uppercase;
    /* font-style: italic; */
    font-family: 'Oswald', sans-serif;
    font-size: 12px;
    color: rgb(255, 133, 11);
    /* text-shadow: 1px 2px 1px rgba(10, 184, 243, 0.941); */
}
#profile-pronouns {
    font-size: 13px;
    color: rgb(176, 12, 0);
}
.swipe-direction {
    display: flex;
    align-items: center;    
    justify-content: center; 
}

.image-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .image-wrapper {
    flex-basis: 45%;
    margin-bottom: 20px;
  }
  

/***** Styles for User Message component *****/
#read-message {
    text-align: right;
    margin-top: -40px;
    padding-bottom: 20px;
    font-size: 12px;
}

#message-date {
    text-align: left;
    margin-top: -10px;
    padding-bottom: 20px;
    font-size: 12px;
}

.trash-button {
    background-color: transparent;
    border: none;
    text-align: right;
    padding-right: 10px;
}

.sender-message-object {
    padding-left: 10px;
    padding-top: 10px;
    text-align: left;
    font-size: 12px;
}

.conversations-side-bar {
    /* margin-left: -70%;
    margin-right: auto;
    margin-top: 15%;
    position: absolute;
    top: 0;
    transition: width 0.5s ease;
    height: 100vh; */
    width: 100% !important;
}
.conversation-header {
    padding: 20px;
    color: rgb(1, 11, 28);
    text-transform: capitalize;
}

.messages-header {
    font-family: 'oswald', sans-serif;
    background-color: transparent;
    padding: 20px;
    width: 100%;
    border-bottom: 1px solid rgba(11, 9, 30, 0.2);
    /* box-shadow: 1px 1px 10px rgba(106, 106, 106, 0.5); */
    text-shadow: 1px 1px 3px rgb(139, 0, 198);
    margin-bottom: 20px;
    color:rgb(245, 4, 56, 0.8);
    font-size: 45px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

#message-parent {
    position: relative;
    background-color: rgba(255, 255, 255, 1);
    padding: 20px;
    /* background: linear-gradient(140deg, rgba(245, 253, 251, 0.8), rgba(255, 205, 252, 0.8)); */
    /* box-shadow: 1px 1px 10px rgba(0, 0, 0, 1); */
   /* background: linear-gradient(140deg, rgb(9, 247, 231, 1), rgba(255, 255, 255, 1)); */
     /* border-radius: 10px; */
     border: 2px solid rgba(123, 0, 255, 0.1);
     margin-bottom: 70px;
}

#profile-hover {
    transition: transform 0.3s ease-out;
    border-radius: 10px;
    padding-bottom: 20px;
  }
  
  #profile-hover:hover {
    transform: translateY(-5px) scale(1.01);
    border-radius: 10px;
  }

#message-close {
   position: absolute;
   right: 5%;
   top: 5%;
   background-color: transparent;
   border-color: rgb(75, 75, 75, 0.5);
   color: rgb(75, 75, 75, 0.5);
   box-shadow: 1px 1px 5px rgba(147, 147, 147, 0.5);
}
@media screen and (max-width: 600px) {
    #message-close {
        right: 2%;
        top: 1%;
    }
  }


#message-close:hover {
    background-color: rgba(88, 87, 87, 0.1);
    border-color: rgb(75, 75, 75, 0.7);
    color: rgb(53, 52, 52, 0.5);
    box-shadow: 1px 1px 5px rgba(72, 72, 72, 0.5);
 }


/* font-family: 'Audiowide', cursive;
font-family: 'Bangers', cursive;
font-family: 'Comfortaa', cursive;
font-family: 'Fugaz One', cursive;
font-family: 'Gochi Hand', cursive;
font-family: 'Monoton', cursive;
font-family: 'Oswald', sans-serif;
font-family: 'Quicksand', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Ubuntu', sans-serif; */

.conversation-box {
    height: 30vh; 
    overflow-y: auto;
    padding-right: 15px; 
  }
.desktop-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px;
}
.desktop-buttons, button {
    /* margin: 20px; */
}
.match-button {
    margin-left: 10px;
    margin-right: 10px;
    padding: 5px;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    background-color: rgb(255, 145, 61);
    transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
    opacity: 0.8;
    transform: translateX(0%);
    box-shadow: 1px 2px 10px rgb(22, 4, 30, 0.5);
    border: 2px solid rgb(255, 0, 212, 0.4);
    border-radius: 10px;
    color: rgb(255, 254, 228);
}  

.match-button:hover {
    border: 2px solid rgb(255, 0, 212, 0.4);
    transform: translateX(5%);
     background-color: rgb(255, 87, 61);
     /* border-radius: 0 0 10px 10px; */
     opacity: 1;
  }

.friends-list-header {
    text-align: center;
    padding-top: 60px;
    font-family: 'Oswald', sans-serif;
    background-color: transparent;
    width: 100%;
    text-shadow: 1px 1px 3px rgb(90, 0, 106);
    margin-bottom: 20px;
    color:rgb(244, 240, 247);
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
}
@media screen and (max-width: 600px) {
    .conversations-side-bar {
        margin-top: 45%;
    }
    .friends-list-header {
        padding-top: 20px;
        /* padding-left: 20px;
        padding-right: 20px; */
    }
  }


  @keyframes glow {
    0% {
      box-shadow: 0 0 0 0 rgba(255,200,0, 0.7);
    }
    100% {
      box-shadow: 0 0 0 20px rgba(255,200,0, 0);
    }
  }

    #button {
        border-radius: 4px;
        /* background-color: rgb(255, 200, 0); */
        background-color: transparent;
        border: none;
        text-shadow: 1px 1px 1px rgb(23, 0, 198);
        margin-bottom: 20px;
        color:rgb(255, 0, 251);
        font-family: 'oswald';
        text-align: center;
        transition: all 0.5s;
        cursor: pointer;
        margin-left: auto;
        margin-right: auto;
        text-transform: uppercase;
        font-size: 14px;
        /* width: 100%; */
        /* padding: 20px; */
        z-index: 4000;
        transform: scale(1); /* you need a scale here to allow it to transition in both directions */
        transition: 0.15s all ease;
        display: flex;
      }

  

@media screen and (min-width: 601px) {
    #button {
        border-radius: 4px;
        background-color: rgb(255, 200, 0);
        /* background-color: transparent; */
        border: none;
        text-shadow: 1px 1px 1px rgb(23, 0, 198);
        margin-bottom: 20px;
        color:rgb(255, 0, 251);
        font-family: 'oswald';
        text-align: center;
        transition: all 0.5s;
        cursor: pointer;
        /* margin-left: 50%; */
        margin-right: 50%;
        text-transform: uppercase;
        font-size: 24px;
        width: 100%;
        /* padding-left: 30%;
        padding-right: 30%; */
        z-index: 4000;
     /* you need a scale here to allow it to transition in both directions */
        transition: 0.15s all ease;
        transform: translateY(0%);
        display: flex;
      }
    #button:hover {
        animation: none 0s none;
        transform: translateY(10%);
      }
}
  
  .friend-list-img {
    border-radius: 100%;
    height: 60px;
    width: 60px;
    object-fit: cover;
    /* border: 2px solid rgba(10, 1, 28, 0.); */
    box-shadow: 1px 2px 5px rgb(48, 48, 48, 0.5);
  }
  #button:hover {
    animation: pulse 2s infinite;
    transform: scale(1.2);
    opacity: 0.8;
  }
  
  @keyframes pulse {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.2);
    }
    100% {
      transform: scale(1);
    }
  }

  @keyframes smallPulse {
    0% {
        /* border-width: 0px;*/
        transform: scale(1); 
        /* padding-left: 0px;
        padding-right: 0px; */
    }
    100% {
        /* padding-left: 10px;
        padding-right: 10px; */
        /* border-width: 20px;*/
        transform: scale(1.06); 
    }
  }

  @keyframes slideDown {
    0% {
      transform: translateY(-100%);
    }
    100% {
      transform: translateY(0%);
    }
  }

  @keyframes slideUP {
    0% {
      transform: translateY(0%);
    }
    100% {
      transform: translateY(100%);
    }
  }
  
  .no-message-fx {
    animation: slideDown 3s forwards;
  }
  .no-message-fx-2 {
    animation: slideDown 1s forwards;
  }

.no-message {
    background-color: rgb(255, 255, 255, 0.8);
    font-size: 30px;
    text-transform: uppercase;
    /* padding: 50px; */
    padding-left: 20px;
    padding-right: 20px;
    height: 20vh;
    /* margin: 60px; */
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'oswald', sans-serif;
    box-shadow: 1px 2px 10px rgb(142, 95, 203, 0.5);
    border-radius: 0 0 10px 10px;
    color: rgb(195, 137, 250);
    letter-spacing: 1px;
}

.message-container {
    position: relative;
    /* top: 0px;
  */
    /* text-align: center; */
}
.message-form {
    padding: 20px;
}
.span-message-page {
    height: 100vh;
}
.friends-column {
    position: relative;
    display: flex;
    justify-content: center;
    background-color: rgba(198, 133, 239, 0.1);
    /* background: linear-gradient(217deg, rgb(255, 158, 61, 0.5), rgba(255, 0, 98, 0.5) 70),
    linear-gradient(217deg, rgb(255, 158, 61, 0.5), rgba(255, 0, 98, 0.5) 30%),
    ; */
    /* padding-right: 40px;
    border-right: 20px solid rgba(255, 0, 98, 0.1); */
    /* background: linear-gradient(217deg, rgba(255, 159, 5, 0.3), rgba(255, 0, 98, 0.1) 70.71%),            
    linear-gradient(127deg, rgba(246,198,0,0.1), rgba(173, 0, 81, 0.1) 70.71%),            
    linear-gradient(336deg, rgba(255, 0, 72, 0.4), rgba(8, 0, 0, 0.1) 70.71%)
    ; */
    /* background-color: rgb(252, 160, 62); */
    margin-top: -50px !important;
    overflow-y: auto;
    /* padding-right: 15px;  */
    padding: 0 !important;
}

#nav:link, #nav:visited {
    text-transform: capitalize; 
    color: white;

}

#nav:hover {
    text-decoration: none;
    color: white;
    text-shadow: 1px 1px 1px rgba(246, 244, 235, 0.5);
}
.message-form {
    display: inline;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.user-info-card {
    text-align: center;
}
.message-card {
    text-align: center;
    /* opacity: 0.9; */
}
.user-message {
 background: linear-gradient(120deg, rgb(255, 222, 103), rgb(255, 128, 0));
    background-color: rgb(255, 158, 61);
    border-radius: 8px;
    border: 3px solid rgb(255, 140, 0);
    box-shadow: 1px 2px 10px rgb(46, 46, 46, 0.5);
}
.incoming-message {
    background: linear-gradient(90deg, rgba(255, 0, 98, 1), rgb(255, 61, 187));
       background-color: rgb(255, 54, 131);
       border-radius: 8px;
       border: 3px solid rgba(255, 0, 98, 1);
       box-shadow: 1px 2px 10px rgb(46, 46, 46, 0.5);
   }

   #send-button {
    padding: 10px;
    margin: 5px;
    font-family: 'oswald', sans-serif;
    background-color: rgb(222, 76, 9); 
    transition: background-color 0.3s ease-in-out;
  }
  
  #send-button:hover {
    background-color: rgb(255, 123, 0);
  }
  

.button_fill {
    position: relative;
    background: linear-gradient(217deg, rgba(255, 0, 98, 1), rgb(255, 158, 61));
    border: none;
    color: #fff;
    border-radius: 5px;
    font-size: 12px;
    cursor: pointer;
    transition: all 0.3s ease;
    border: 2px solid rgb(255, 0, 149);
    overflow: hidden;
    text-transform: uppercase;
    box-shadow: 1px 2px 10px rgba(84, 83, 83, 0.5);
  }
  
  .button_fill:hover {
    border-left-color: transparent;
    border-right-color: transparent;
    transition: all 0.3s ease;
    background: linear-gradient(90deg, rgba(255, 0, 98, 1), rgb(255, 158, 61));
    background-size: 200% 100%;
    animation: moveBackground 1s ease-in-out forwards;
  }
  
  @keyframes moveBackground {
    0% {
      background-position: 0 0;
    }
    100% {
      background-position: -100% 0;
    }
  }

  .button_fill:not(:hover) {
    content: "";

    /* position: absolute; */
    /* top: 0;
    left: 0; */
    /* width: 100%;
    height: 100%; */
    /* animation: moveBackground 1s ease-in-out backwards; */
    /* animation-fill-mode: backwards; */
  }
  
  /* @keyframes undoMoveBackground {
    0% {
      background-position: -100% 0;
    }
    100% {
      background-position: 0 0;
    }
  }
   */
  
  
  
  
  
  /* .button_fill:hover:before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 0%;
    background: #ffffff;
    transition: width 0.5s ease;
  } */
  
  /* .button_fill:hover:after {
    content: "";
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 0%;
    background: #ffffff;
    transition: width 0.5s ease 0.25s;
  }
  
  .button_fill:hover:before,
  .button_fill:hover:after {
    z-index: -1;
  }
  
  .button_fill:hover:before {
    width: 50%;
  }
  
  .button_fill:hover:after {
    width: 50%;
  } */
  
.message-panel-parent{
    position: relative;
    /* border: 2px solid black; */
}

#toggle-profile {
    font-family: 'oswald', sans-serif;
    z-index: 2000;
    position: absolute;
    bottom: 0;
    left: 0;
    /* border-radius: 10px 10px 0 0; */
    letter-spacing: 0.7px;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    /* background: linear-gradient(217deg, rgba(255, 0, 98, 1), rgb(255, 158, 61)); */
    background-color: rgba(255, 0, 98, 1);
    border: 2px solid rgb(255, 0, 212, 0.4);
    padding: 10px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    color: #fff;
    font-size: 14px;
    transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
    opacity: 1;
    transform: translateY(20%);
  }
  .card-bg {
    background-color: white;
    border-radius: 10px;
  }
  
  #toggle-profile:hover {
    border: 2px solid rgb(255, 0, 212, 0.4);
    transform: translateY(50%);
     background-color: rgb(255, 87, 61);
     /* border-radius: 0 0 10px 10px; */
     opacity: 1;
  }
  

.triangle {
    cursor:pointer;
    width: 0;
    border-top: 28px solid transparent;

    /* border-left: 45px solid transparent; */
    border-right: 45px solid transparent;
    margin-top: -16px;
    margin-bottom: 20px;
    margin-left: 50px;
  }

  .triangle-left {
    cursor:pointer;
    width: 0;
    border-top: 15px solid rgba(255, 0, 98, 1);
    /* border-left: 45px solid transparent; */
    border-right: 25px solid transparent;
    margin-bottom: 20px;
    margin-left: 5%;
  }
  
  .triangle-right {
    cursor:pointer;
    width: 0;
    border-top: 15px solid rgb(255, 140, 0);
    /* border-right: 45px solid transparent; */
    border-left: 25px solid transparent;
    margin-top: -1px;
    margin-bottom: 20px;
    margin-left: 87%;
    z-index: -1000;
  }
  
  @keyframes slideIn {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(0);
    }
  }
  
  @keyframes slideOut {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(100%);
    }
  }
  
  .slide-in {
    animation: slideIn 0.5s forwards;
  }
  
  .slide-out {
    animation: slideOut 0.3s forwards;
  }
  
  .conversations-side-bar.closed {
    animation: slideOut 0.3s forwards;
  }
  
  .conversations-side-bar {
    width: 10%;
    transition: width 0.5s ease;
    height: 100vh;
  }
  
  /* animate width when panel is closed */
  .conversations-side-bar.closed {
    /* width: 100%;
    background-color: rgb(255, 209, 144);
    height: 100vh; */
  }

  /* AUTHENTICATED HEADER */
#bell-icon-parent {
  position: relative;
}

#alert-notification {
    position: absolute;
    top: 17px;
    left: 75px;
    font-size: 7px;
    z-index: 2000;
    background-color: blue;
}

@media screen and (max-width: 600px) {
    #alert-notification {
        left: 85px;
    }
    #bell-icon-parent {
        margin-right: -10px !important;
        margin-left: -10px !important;
      }
}
#message-notification {
    position: absolute;
    top: 17px;
    left: 115px;
    font-size: 7px;
    z-index: 2000;
}


/* Message.js */
.edit-message-object {
 display: flex;
 align-items: center;
 justify-content: center;
}

#edit-buttons {
    text-align: right;
}

#edit-message-form {
    /* min-width: 90vw; */
    /* padding: 20px;
    margin: -20px; */
}

/* .edit-form {
    min-width: 100%;
} */

/******** login component ********/
#login-header {
    text-transform: uppercase;
    color: white;
    text-decoration: underline;
    text-align: center;
}

#login-container {
    width: 80vw;
    color: white;
    font-size: 18px;
    background-color: rgba(250, 250, 255, 0.3);
    border-radius: 10px;
    box-shadow: 5px 15px 20px rgb(129, 129, 129);
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: auto;
    background: linear-gradient(217deg, rgba(183,38,61,.2), rgba(255,0,0,0.1) 70.71%),            
    linear-gradient(127deg, rgba(246,198,0,.6), rgba(173, 0, 81, 0.4) 70.71%),            
    linear-gradient(336deg, rgba(151, 6, 47, 0.5), rgba(162, 6, 6, 0.8) 70.71%),
    url(../assets/gymscene.png);
    padding: 50px;
    animation-name: slide-up;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    font-family: 'Raleway', sans-serif;
}

@keyframes slide-up {
    from {
        transform: translateY(50%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

#side-nav {
    color: black;
}

#help-links:visited, #help-links:link {
    text-align: left;
    font-size: 8px;
}

#help-links:hover {
    text-decoration: none; 
    color:rgb(255, 255, 255); 
    text-shadow: 1px 1px 1px rgba(246, 244, 235, 0.5);
    font-size: 8px;
}

/**** registration component ****/

#registraiton-header {
    text-transform: uppercase;
    color: white;
    text-decoration: underline;
    text-align: center;
}

#registration-container {
    width: 80vw;
    color: white;
    font-size: 18px;
    background-color: rgba(250, 250, 255, 0.3);
    border-radius: 10px;
    box-shadow: 5px 15px 20px rgb(129, 129, 129);
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: auto;
    background: linear-gradient(217deg, rgba(183,38,61,.2), rgba(255,0,0,0.1) 70.71%),            
    linear-gradient(127deg, rgba(246,198,0,.6), rgba(173, 0, 81, 0.4) 70.71%),            
    linear-gradient(336deg, rgba(151, 6, 47, 0.5), rgba(162, 6, 6, 0.8) 70.71%),
    url(../assets/gymscene.png);
    padding: 50px;
    animation-name: slide-up;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    font-family: 'Raleway', sans-serif;
}

.registration-container {
    height: 100vh;
    width: 100vw;
}

/** user profile **/
.profile-head-display {

}

.center-preview {
   margin-left: 32%;
}

.profile-banner {
    position: relative;
    height: 40vh;
    max-width: 100%;
    box-sizing: border-box;
    box-shadow: 1px 2px 5px rgba(75, 3, 98, 0.2);
   /* z-index: 100; */
    /* padding: 0 9px; */
}

.profile-banner-tinder-card {
    height: 60vh;
    position: relative;
  
}

.profile-nav {
    height: 10vh;
    width: 100%;
    background: linear-gradient(217deg, rgba(183,38,61,.5), rgba(255,0,0,0.1) 70.71%),            
    linear-gradient(127deg, rgba(246,198,0,.6), rgba(173, 0, 81, 0.5) 70.71%),            
    linear-gradient(336deg, rgba(79, 9, 29, 0.8), rgba(162, 6, 6, 0.8) 70.71%);
    display: inline;
    justify-content: space-between;
    box-shadow: 1px 2px 10px rgba(60, 1, 79, 0.5);
}

#open-edit-profile {
    color: white;
    background-color: rgb(204, 79, 44);
    border-radius: 10px;
    border: none;
    font-family: Pacifico;
    padding: 10px;
    border: 1px solid rgb(143, 2, 208, 0.2);
    box-shadow: 1px 2px 10px rgb(83, 0, 128, 0.2);
    transition: background-color 0.3s ease-in-out;
    text-transform: lowercase;
    letter-spacing: 1px;
    font-size: 15px;
  }
  
  #open-edit-profile:hover {
    background-color: rgb(251, 121, 46);
    animation: background-color 1s ease-in-out forwards;
  }
  
  @keyframes background-color {
    0% {
      background-color: rgb(208, 71, 2);
    }
    50% {
      background-color: rgb(255, 119, 0);
    }
    100% {
      background-color: rgb(255, 132, 0);
    }
  }
  



#profile-nav-button {
    background-color: rgba(246,198,0,.2);
    color: rgb(234, 204, 181);
    text-shadow: 1px 2px 4px rgb(130, 0, 113, 0.5);
    padding-bottom: 20px;
    padding-top: 20px;
    width: 100%;
    height: 10vh;
    font-style: none !important;
    border-radius: 0px !important;
    font-family: 'Oswald', sans-serif;
    border-bottom: 1px solid;
}

#profile-nav-button:hover {
    /* border: 2px solid rgb(73, 8, 143); */
    color: rgba(207, 41, 0, 0.8);
    background-color: rgba(246, 172, 0, 0.8);
    transition: ease-in-out 0.8s;
    animation: smallPulse 2s infinite;

}

.profile-top {
    margin-bottom: 30px;
}
.profile-mid {
    margin: 20px;
}
.profile-left-side {
    margin-bottom: 20px;
  
}
.new-post-card {
    margin-bottom: 20px;
}
#post-button-container {
    display: flex;
    padding: 5px;
}
#send-button {
    margin-top: 0px;
    padding-bottom: 7px;
    padding-top: 7px;
    margin-bottom: 10px;
}
#post-text {
    font-size: 20px;
    font-family: Roboto Condensed, sans-serif;
    color: rgb(221, 105, 43);
    /* font-family: 'Raleway', sans-serif; */
}

#new-post {
    box-shadow: 1px 2px 10px rgba(42, 7, 69, 0.5);
    /* background-color: rgba(255, 255, 255, 0.5); */
    background:linear-gradient(167deg, rgba(243, 185, 209, 0.1), rgba(248, 158, 73, 0.1) 70.71%), 
    linear-gradient(180deg, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 1) 70.71%), 
    linear-gradient(336deg, rgba(0, 51, 255, 0.2), rgba(234, 234, 35, 0.1) 70.71%);
    /* margin-left: 20px;
    margin-right: 20px; */
    /* display: block;
    justify-content: center;
    align-items: center; */
    margin-right: -10px;
    margin-left: -10px;
    margin-bottom: 30px;
    /* text-align: center; */
    /* background-color: aqua; */
    transition: pulse 0.5s ;
}
  #new-post:hover {
    animation: hoverZoom 0.5s ease-in-out;
    animation-fill-mode: forwards;
  }
#new-post-textarea {
    margin-top: 20px;
    margin-left: 0;
    margin-right: 20px;
    width: 90%;
}
#post-display {
    box-shadow: 1px 2px 10px rgba(42, 7, 69, 0.5);
    background-color: rgba(255, 255, 255, 1);
    background:linear-gradient(117deg, rgba(243, 185, 209, 0.1), rgba(248, 158, 73, 0.1) 70.71%), 
    linear-gradient(180deg, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 1) 70.71%), 
    linear-gradient(336deg, rgba(0, 51, 255, 0.2), rgba(234, 234, 35, 0.1) 70.71%);
    padding: 10px;  
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 40px;
    margin-top: 20px;
    color:rgb(240, 52, 15);
    font-size: 12px;
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
    transition: pulse 0.5s ;
}

#post-display:hover {
    animation: hoverZoom 0.5s ease-in-out;
    animation-fill-mode: forwards;
  }
#post-header {
    font-size: 32px;
    /* font-family: 'Raleway', sans-serif; */
    /* padding: 20px; */
    font-weight: bold;
    text-shadow: 1px 1px 2px rgba(3, 24, 50, 0.3);
    text-transform: capitalize;
    letter-spacing: 0.2px;
    font-family: Pacifico;
    padding-top: 30px;
    /* padding-bottom: 5px; */
    color: rgb(203, 53, 15);
    font-weight: bold;
    text-shadow: 1px 1px 2px rgba(3, 24, 50, 0.3);
    text-transform: capitalize;
    letter-spacing: 2px;
    border-bottom: 1px solid rgb(197, 39, 0,0.3);
    margin-left: 30px;
    margin-right: 50px;
    margin-bottom: 20px;
}

#picture-display {
    box-shadow: 1px 2px 10px rgba(42, 7, 69, 0.5);
    background-color: rgba(255, 255, 255, 1);
    background:linear-gradient(217deg, rgba(243, 185, 209, 0.1), rgba(248, 158, 73, 0.1) 70.71%), 
    linear-gradient(180deg, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 1) 70.71%), 
    linear-gradient(336deg, rgba(0, 51, 255, 0.2), rgba(234, 234, 35, 0.1) 70.71%);
    transition: pulse 0.5s ;
    /* margin-right: 10px; */
    margin-left: 10px;
    margin-bottom: 30px;
}
#picture-display:hover {
    animation: hoverZoom 0.5s ease-in-out;
    animation-fill-mode: forwards;
  }


#bio-display {
    box-shadow: 1px 2px 10px rgba(42, 7, 69, 0.5);
    background-color: rgba(255, 255, 255, 1);
    background:linear-gradient(217deg, rgba(243, 185, 209, 0.1), rgba(248, 158, 73, 0.1) 70.71%), 
    linear-gradient(180deg, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 1) 70.71%), 
    linear-gradient(336deg, rgba(0, 51, 255, 0.2), rgba(234, 234, 35, 0.1) 70.71%);
    color:rgba(226, 53, 0, 0.84);
    text-shadow: 1px 1px 1px rgba(21, 1, 83, 0.2);
    font-size: 21px;
    font-weight: bold;
    font-family: Roboto Condensed, sans-serif;
    padding: 20px;
    transition: pulse 0.5s ;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 30px;
}
  #bio-display:hover {
    animation: hoverZoom 0.5s ease-in-out;
    animation-fill-mode: forwards;
  }
  
  @keyframes hoverZoom {
    from {
      transform: scale(1);
    }
    to {
      transform: scale(1.02);
    }
  }
  

#profile-text{
    color:rgba(243, 104, 53, 0.84);
    font-family: Open Sans Condensed, sans-serif;
    padding: 10px;
    font-weight: normal;
    letter-spacing: 0.4;

}

#post-card-content {
    padding: 20px;
}

#see-more-button {
    text-align: center;
}
#see-more {
    background-color: rgba(252, 160, 60, 0.9); 
}
#see-more:hover {
    background-color: rgb(244, 155, 0);
}

.profile-header {
    font-size: 35px;
    font-family: Pacifico;
    /* font-family: Rock Salt, sans-serif; */
    /* font-family: Permanent Marker, serif; */
    /* font-family: Roboto Condensed, sans-serif; */
    padding-top: 30px;
    padding-bottom: -10px;
    color: rgb(50, 58, 65);
    font-weight: bold;
    text-shadow: 1px 1px 2px rgba(3, 24, 50, 0.3);
    text-transform: capitalize;
    letter-spacing: 0.2px;
    border-bottom: 1px solid rgba(130, 52, 0, 0.3);
    margin-left: 30px;
    margin-right: 50px;
    margin-bottom: 20px;
    color:rgba(212, 25, 0, 0.84);
    letter-spacing: 2px;
}

.profile-content {
    padding-bottom: 10px;
    padding-left: 30px;
    text-align: left;
    text-transform: capitalize;
}
.profile-content-bio {
    padding-bottom: 10px;
    padding-left: 30px;
    text-align: left;
}
.profile-content-bio-edit {
    padding-bottom: 10px;
    padding-left: 30px;
    text-align: center;
}

.file-input {
    padding: 10px;
    margin-left: 10%;
}

/** mobile for profile  **/
.mobile-profile-container {
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 40px;
}
.profile-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    
}

/***** profile component ******/ 
.profile-pic{
    display: block; 
    width: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.profile-pic-tinder-card{
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    border: 5px solid white;
}


@media screen and (max-width: 600px) {
    .profile-pic-container {
    /* top: 50% !important; */
    left: 50% !important;
    transform: translate(-50%, -50%) !important;
    }
    .name-holder {
        /* text-align: center; */
        margin-top: 100px !important;
        padding-bottom: 10px;
        margin-right: 10px !important;
    }
    .message-card {
        padding: 0px;
    }
    #make-me-bigger {
        width: 90vw !important;;
    }
   
  }
  #make-me-responsive {
    height: 50vh;
    margin-left: -40px;
    margin-right: -20px;
    overflow-y: scroll;
    display: flex;
}

#save-button {
    display: block; /* Make the button a block element */
    margin: 0 auto; /* Center the block element horizontally */
    background-color: rgb(255, 132, 0);
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 5px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    width: 80%;
    
  }
  
  #save-button:hover {
    animation: pulse 1.5s;
  }
  
  @keyframes pulse {
    0% {
      transform: scale(1);
      background-color: rgb(255, 132, 0);
    }
    50% {
      transform: scale(1.05);
      background-color: rgb(255, 174, 0);
    }
    100% {
      transform: scale(1);
      background-color: rgb(255, 132, 0);
    }
  }
  

  @media screen and (max-width: 600px) {
    .profile-pic-container-tinder-card {
    /* top: 40% !important;  */
   
    /* top: 25% !important;
    left: 17% !important; */
    /* top: 40% !important; */
    /* left: 50% !important; */
        /* margin-left: 32.5% !important;
        margin-right: auto !important; */
    /* top: 20%;
    left: 35%; */
    /* margin-right: 0 !important;
    margin-left: 25% !important;

    top: 35% !important; */
   
        width: 100%;
    }
}

#Gender-box {
    font-family: "Arial, sans-serif";
}

#add-activity {
    background-color: rgb(236, 107, 2);
    border: none;
    transition: activity-pulse 0.2s ease-in-out; 
}
#add-activity:hover {
    animation: activity-pulse 1.5s;
}

@keyframes activity-pulse {
    0% {
      transform: scale(1);
      background-color: rgb(255, 132, 0);
    }
    50% {
      transform: scale(1.05);
      background-color: rgb(255, 174, 0);
    }
    100% {
      transform: scale(1);
      background-color: rgb(255, 132, 0);
    }
  }
.tinder-card-info {
    font-family: 'Raleway', sans-serif;
    padding-top: 60px;
    text-align: center;
}
.tinder-username {
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 1px;
    color:rgb(255, 60, 0);
    text-shadow: 1.5px 1.5px 2px rgba(3, 24, 50, 0.3);
}
.name-holder {
    color: rgb(20, 24, 28);
    font-weight: bold;
    text-shadow: 1.5px 1.5px 2px rgba(3, 24, 50, 0.3);
    
}

.profile-pic-container {
    position: absolute;
    top: 90%;
    left: 15%;
    transform: translate(-50%, -50%) ;
    display: inline-block;
    width: 250px;
    cursor: pointer;
}

.profile-pic-container-tinder-card {
    position: absolute;
    top: 30%;
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
}

.profile-pic-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0); 
    transition: background-color 0.2s ease-in-out; 
    border-radius: 50%;
    border: 8px solid rgb(255, 255, 255, 0.6);
    box-sizing: border-box; 
    box-shadow: 2px 1px 10px rgba(20, 2, 40, 0.5);
    cursor: pointer;
}
.profile-pic-container:hover::before {
    background-color: rgba(255, 255, 255, 0.3); 
    cursor: pointer;
}

.edit-profile-banner .edit-profile-pic-button {
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
    width: 100vw;
    height: 320px;
    background-color: transparent;
    border: none;
    padding-left: 65% !important;
    padding-bottom: 15%;
}

.edit-profile-banner:hover .edit-profile-pic-button {
    opacity: 1;
}

.edit-profile-pic .edit-profile-pic-icon-button {
    background-color: transparent;
    padding-top: 60px;
    padding-bottom: 60px;
    padding-left: 80px;
    padding-right: 80px;
    border: none;
    border-radius: 50%;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
    position: absolute;
    top: 2%;
    left: 2%;

}
.edit-profile-pic:hover .edit-profile-pic-icon-button {
    opacity: 1;
}

.profile-banner::before {
    content: "";
    position: absolute;
    height: 40vh;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(255, 255, 255, 0); 
    transition: background-color 0.2s ease-in-out; 
    /* border: 9px solid white; */
    box-sizing: border-box; 
    box-shadow: 2px 1px 10px rgba(44, 44, 44, 0.5);
}

.profile-banner:hover::before {
    background-color: rgba(255, 255, 255, 0.3); 
    cursor: pointer;
}

/* .profile-feed-container {
    border-bottom: 1px solid #ccc;
    padding: 20px;
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 1px 2px 10px rgb(100, 100, 100, 0.5);
  }
   */

.profile-banner-display {
    position: relative;
    z-index: -1;
    object-fit: cover;
    box-shadow: 2px 1px 10px rgba(44, 44, 44, 0.8);
    border: 8px solid rgb(232, 228, 228, 0.6);
}

.profile-banner-display-tinder-card {
    position: relative;
    object-fit: cover;
    margin-left: auto;
    margin-right: auto;
}
.spinner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  
  .spinner {
    display: inline-block;
    width: 40px;
    height: 40px;
    position: relative;
    border: 4px solid #333;
    border-top-color: #fff;
    border-radius: 50%;
    animation: spin 1s ease-in-out infinite;
  }
  
  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }
  

.name-holder {
    font-family: Pacifico;
    /* font-family: 'raleway', sans-serif; */
    text-align: center;
    margin-top: 30px;
    padding-bottom: 10px;
    margin-right: 28%;
    color: rgb(204, 44, 0);
    /* font-family: 'Raleway', sans-serif; */
    letter-spacing: 0.5px;
    font-size: 52px;
    text-shadow: 1px 2px 4px rgb(124, 0, 162, 0.5);
    /* text-transform: uppercase; */
        /* font-family: Permanent Marker, serif; */
    /* font-family: Roboto Condensed, sans-serif; */
    font-style: bold;
}

h1 {
    text-transform: capitalize;
}
#warning {
    color: rgb(195, 29, 29);
}
.edit-profile-pic {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10000;
    font-size: 80px;
    border-radius: 50%;
    text-align: center;
    padding-top: 20%;
}

@media screen and (max-width: 600px) {
    .edit-profile-pic {
        top: 0;
        left: 0;
    }
}

.edit-profile-banner {
    position: absolute;
    /* top: 25%;
    left: 80%; */
 
  
}

@media screen and (max-width: 600px) {
    .edit-profile-banner {
        /* top: 27%;
        left: 75%; */
    }
    .profile-banner::before {
        width: 95.5vw;
    }
    .edit-profile-pic-button {
        padding-left: 70% !important;
        padding-bottom: 40% !important;
        font-size: 50px !important;
    }

}
.edit-profile-pic-button {
    font-size: 60px;
}