/**********    FONT LIST      ***********/
/* font-family: 'Audiowide', cursive;
font-family: 'Bangers', cursive;
font-family: 'Comfortaa', cursive;
font-family: 'Fugaz One', cursive;
font-family: 'Gochi Hand', cursive;
font-family: 'Monoton', cursive;
font-family: 'Oswald', sans-serif;
font-family: 'Quicksand', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Ubuntu', sans-serif; */


/***** AUTH CONTEXT  *****/
#header {
    background: linear-gradient(217deg, rgba(183,38,61,.8), rgba(255,0,0,0.1) 70.71%),            
    linear-gradient(127deg, rgba(246,198,0,.8), rgba(173, 0, 81, 0.5) 70.71%),            
    linear-gradient(336deg, rgba(79, 9, 29, 0.8), rgba(162, 6, 6, 0.9) 70.71%),
    repeating-linear-gradient(45deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5) 5px, black 5px, black 10px);
    /* margin-bottom: 0px; */
    font-family: 'Raleway', sans-serif;
    animation: slide-in-header 1s ease-out;
}
.left-nav {
    margin: 5px;
}
@keyframes slide-in-header {
    from {
        transform: translateY(-100%);
    }
    to {
        transform: translateY(0);
    }
}
@keyframes slide-in-footer {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0);
    }
}

.footer {
    background: linear-gradient(217deg, rgba(183,38,61,.5), rgba(255,0,0,0.1) 70.71%),            
    linear-gradient(127deg, rgba(246,198,0,.6), rgba(173, 0, 81, 0.5) 70.71%),            
    linear-gradient(336deg, rgba(79, 9, 29, 0.8), rgba(162, 6, 6, 0.8) 70.71%),
    repeating-linear-gradient(45deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5) 5px, black 5px, black 10px);
    color: white;
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    animation: slide-in-footer 1s ease-out;
}


.user-object-placeholder {
    /* border: 10px solid rgb(255, 255, 255, 0.5); */
    /* margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 50px;
    padding: 20px;
    width: 80%; */
}

@media screen and (max-width: 600px) {
    .user-object-placeholder {
        width: 100%;
        margin: 0;
        padding: 20px;
    }
    .tinder-card-placeholder {
        margin-left: 10% !important;
        margin-right: 10% !important;
    }
}
.tinder-card-placeholder {
    background: linear-gradient(140deg, rgb(255, 255, 255), rgba(231, 231, 231, 0.1));
    box-shadow: 1px 2px 10px rgb(44, 44, 44, 0.5);
    border-radius: 5px;
    border: 10px solid rgb(255, 255, 255, 0.5);
    /* margin-left: 20px;
    margin-right: 20px; */
    margin-left: 20%;
    margin-right: 20%;
}

.header {
    display: flex;
    align-items: center;    
    justify-content: center;
    /* background-color: white; */
}
.new-matches-list-display {
    background-color: white;
}

.swipe-direction {
    display: flex;
    align-items: center;    
    justify-content: center; 
}

/***** Styles for User Message component *****/
#read-message {
    text-align: right;
    margin-top: -40px;
    padding-bottom: 20px;
    font-size: 12px;
}

#message-date {
    text-align: left;
    margin-top: -10px;
    padding-bottom: 20px;
    font-size: 12px;
}

.trash-button {
    background-color: transparent;
    border: none;
    text-align: right;
    padding-right: 10px;
}

.sender-message-object {
    padding-left: 10px;
    padding-top: 10px;
    text-align: left;
    font-size: 12px;
}

.conversations-side-bar {
    text-align: center;
    /* margin-right: 20px; */
}


.button {
    border-radius: 4px;
    background-color: transparent;
    border: none;
    color: orange;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }
  
  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button:hover span {
    padding-right: 25px;
  }
  
  .button:hover span:after {
    opacity: 1;
    right: 0;
  }

.message-container {
    /* text-align: center; */
}
.message-form {
    padding: 20px;
}
.span-message-page {
    min-height: 60vh;
}

#nav:link, #nav:visited {
    text-transform: capitalize; 
    color: white;

}

#nav:hover {
    text-decoration: none;
    color: white;
    text-shadow: 1px 1px 1px rgba(246, 244, 235, 0.5);
}
.message-form {
    display: inline;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.user-info-card {
    text-align: center;
}
.message-card {
    text-align: center;
}
.message-object {
    background-color: orange;
    border-radius: 8px;
    border: 3px solid orange;
}
#send-button {
    padding: 10px;
    margin: 5px;
}
#send-text {
}

.triangle {
    cursor:pointer;
    width: 0;
    border-top: 28px solid orange;
    /* border-left: 45px solid transparent; */
    border-right: 45px solid transparent;
    margin-top: -16px;
    margin-bottom: 20px;
    margin-left: 50px;
  }

  /* AUTHENTICATED HEADER */
#bell-icon-parent {
  position: relative;
}
#alert-notification {
    position: absolute;
    top: 17px;
    left: 72px;
    font-size: 7px;
    z-index: 2000;
}


/* Message.js */
.edit-message-object {
 display: flex;
 align-items: center;
 justify-content: center;
}

#edit-buttons {
    text-align: right;
}

#edit-message-form {
    /* min-width: 90vw; */
    /* padding: 20px;
    margin: -20px; */
}

/* .edit-form {
    min-width: 100%;
} */

/******** login component ********/
#login-header {
    text-transform: uppercase;
    color: white;
    text-decoration: underline;
    text-align: center;
}

#login-container {
    width: 80vw;
    color: white;
    font-size: 18px;
    background-color: rgba(250, 250, 255, 0.3);
    border-radius: 10px;
    box-shadow: 5px 15px 20px rgb(129, 129, 129);
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: auto;
    background: linear-gradient(217deg, rgba(183,38,61,.2), rgba(255,0,0,0.1) 70.71%),            
    linear-gradient(127deg, rgba(246,198,0,.6), rgba(173, 0, 81, 0.4) 70.71%),            
    linear-gradient(336deg, rgba(151, 6, 47, 0.5), rgba(162, 6, 6, 0.8) 70.71%),
    url(../assets/gymscene.png);
    padding: 50px;
    animation-name: slide-up;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    font-family: 'Raleway', sans-serif;
}

@keyframes slide-up {
    from {
        transform: translateY(50%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

#side-nav {
    color: black;
}

#help-links:visited, #help-links:link {
    text-align: left;
    font-size: 8px;
}

#help-links:hover {
    text-decoration: none; 
    color:rgb(255, 255, 255); 
    text-shadow: 1px 1px 1px rgba(246, 244, 235, 0.5);
    font-size: 8px;
}

/**** registration component ****/

#registraiton-header {
    text-transform: uppercase;
    color: white;
    text-decoration: underline;
    text-align: center;
}

#registration-container {
    width: 80vw;
    color: white;
    font-size: 18px;
    background-color: rgba(250, 250, 255, 0.3);
    border-radius: 10px;
    box-shadow: 5px 15px 20px rgb(129, 129, 129);
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: auto;
    background: linear-gradient(217deg, rgba(183,38,61,.2), rgba(255,0,0,0.1) 70.71%),            
    linear-gradient(127deg, rgba(246,198,0,.6), rgba(173, 0, 81, 0.4) 70.71%),            
    linear-gradient(336deg, rgba(151, 6, 47, 0.5), rgba(162, 6, 6, 0.8) 70.71%),
    url(../assets/gymscene.png);
    padding: 50px;
    animation-name: slide-up;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    font-family: 'Raleway', sans-serif;
}

.registration-container {
    height: 100vh;
    width: 100vw;
}

/** user profile **/
.profile-head-display {

}

.center-preview {
   margin-left: 32%;
}

.profile-banner {
    position: relative;
    height: 40vh;
    max-width: 100%;
    box-sizing: border-box;
   
    /* padding: 0 9px; */
}

.profile-banner-tinder-card {
    height: 60vh;
    position: relative;
}

.profile-nav {
    height: 10vh;
    width: 100%;
    background: linear-gradient(217deg, rgba(183,38,61,.5), rgba(255,0,0,0.1) 70.71%),            
    linear-gradient(127deg, rgba(246,198,0,.6), rgba(173, 0, 81, 0.5) 70.71%),            
    linear-gradient(336deg, rgba(79, 9, 29, 0.8), rgba(162, 6, 6, 0.8) 70.71%);
}

.profile-top {
    margin-bottom: 30px;
}
.profile-mid {
    margin: 20px;
}
.profile-left-side {
    margin-bottom: 20px;
}
.new-post-card {
    margin-bottom: 20px;
}
#post-button-container {
    display: flex;
    padding: 5px;
}
#send-button {
    margin-top: 0px;
    padding-bottom: 7px;
    padding-top: 7px;
    margin-bottom: 10px;
}

#new-post {
    box-shadow: 1px 2px 10px rgba(45, 44, 44, 0.5);
    /* display: block;
    justify-content: center;
    align-items: center; */

    /* text-align: center; */
    /* background-color: aqua; */
}
#new-post-textarea {
    margin-top: 20px;
    margin-left: 0;
    margin-right: 20px;
    width: 90%;
}
#post-display {
    box-shadow: 1px 2px 10px rgba(45, 44, 44, 0.5);
    padding: 10px;  
    margin-bottom: 20px;
    margin-top: 10px;
}
#post-header {
    font-size: 22px;
    font-family: 'Raleway', sans-serif;
    /* padding: 20px; */
    color: rgb(50, 58, 65);
    font-weight: bold;
    text-shadow: 1px 1px 2px rgba(3, 24, 50, 0.3);
    text-transform: capitalize;
    letter-spacing: 0.2px;
    
    padding-top: 30px;
    padding-bottom: 5px;
    color: rgb(50, 58, 65);
    font-weight: bold;
    text-shadow: 1px 1px 2px rgba(3, 24, 50, 0.3);
    text-transform: capitalize;
    letter-spacing: 0.2px;
    border-bottom: 1px solid rgba(3, 24, 50, 0.3);
    margin-left: 30px;
    margin-right: 50px;
    margin-bottom: 20px;
}

#picture-display {
    box-shadow: 1px 2px 10px rgba(45, 44, 44, 0.5);
}
#bio-display {
    box-shadow: 1px 2px 10px rgba(45, 44, 44, 0.5);
}

#post-card-content {
    padding: 20px;
}

#see-more-button {
    text-align: center;
}
#see-more {
    background-color: rgba(252, 160, 60, 0.9); 
}
#see-more:hover {
    background-color: rgb(244, 155, 0);
}

.profile-header {
    font-size: 22px;
    font-family: 'Raleway', sans-serif;
    padding-top: 30px;
    padding-bottom: 10px;
    color: rgb(50, 58, 65);
    font-weight: bold;
    text-shadow: 1px 1px 2px rgba(3, 24, 50, 0.3);
    text-transform: capitalize;
    letter-spacing: 0.2px;
    border-bottom: 1px solid rgba(3, 24, 50, 0.3);
    margin-left: 30px;
    margin-right: 50px;
    margin-bottom: 20px;
}

.profile-content {
    padding-bottom: 10px;
    padding-left: 30px;
    text-align: left;
    text-transform: capitalize;
}
.profile-content-bio {
    padding-bottom: 10px;
    padding-left: 30px;
    text-align: left;
    /* text-transform: capitalize; */
}

.file-input {
    padding: 10px;
    margin-left: 10%;
}

/** mobile for profile  **/
.mobile-profile-container {
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 40px;
}
.profile-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;

}

/***** profile component ******/ 
.profile-pic{
    display: block; 
    width: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.profile-pic-tinder-card{
    /* width: 100%;
    border-radius: 50%;
    object-fit: cover;
    border: 10px solid white;
    margin-left: 60%;
    margin-right: auto;
    margin-top: -20%;
    -webkit-user-select: none; 
  -ms-user-select: none;
  user-select: none; */
  border-radius: 50%;

  width: 225px;
  height: 225px;
  object-fit: cover;
  border: 10px solid white;
  margin: auto;
}


@media screen and (max-width: 600px) {
    .profile-pic-container {
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%) !important;
    }
    .name-holder {
        /* text-align: center; */
        margin-top: 130px !important;
        padding-bottom: 10px;
        margin-right: 10px !important;
    }
  }

  @media screen and (max-width: 600px) {
    .profile-pic-container-tinder-card {
    /* top: 40% !important;  */
    object-fit: cover;
    top: 25% !important;
    left: 17% !important;
    /* top: 40% !important; */
    /* left: 50% !important; */
        /* margin-left: 32.5% !important;
        margin-right: auto !important; */
    }
}
.tinder-card-info {
    padding-top: 125px;
    text-align: center;
}
.name-holder {
    color: rgb(20, 24, 28);
    font-weight: bold;
    text-shadow: 1.5px 1.5px 2px rgba(3, 24, 50, 0.3);
}

.profile-pic-container {
    position: absolute;
    top: 45%;
    left: 20%;
    transform: translate(-50%, -50%) ;
    display: inline-block;
    width: 250px;
    cursor: pointer;
}

.profile-pic-container-tinder-card {
    position: absolute;
    top: 20%;
    left: 25%;
}

.profile-pic-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0); 
    transition: background-color 0.2s ease-in-out; 
    border-radius: 50%;
    border: 9px solid white;
    box-sizing: border-box; 
    box-shadow: 2px 1px 10px rgba(44, 44, 44, 0.5);
    cursor: pointer;
}
.profile-pic-container:hover::before {
    background-color: rgba(255, 255, 255, 0.5); 
    cursor: pointer;
}

.edit-profile-banner .edit-profile-pic-button {
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
    width: 100vw;
    height: 320px;
    background-color: transparent;
    border: none;
    padding-left: 60%;
    padding-top: 5%;
}

.edit-profile-banner:hover .edit-profile-pic-button {
    opacity: 1;
}

.edit-profile-pic .edit-profile-pic-icon-button {
    background-color: transparent;
    padding-top: 60px;
    padding-bottom: 60px;
    padding-left: 80px;
    padding-right: 80px;
    border: none;
    border-radius: 50%;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
    position: absolute;
    top: 2%;
    left: 2%;

}
.edit-profile-pic:hover .edit-profile-pic-icon-button {
    opacity: 1;
}

.profile-banner::before {
    content: "";
    position: absolute;
    height: 40vh;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(255, 255, 255, 0); 
    transition: background-color 0.2s ease-in-out; 
    /* border: 9px solid white; */
    box-sizing: border-box; 
    box-shadow: 2px 1px 10px rgba(44, 44, 44, 0.5);
}

.profile-banner:hover::before {
    background-color: rgba(255, 255, 255, 0.5); 
    cursor: pointer;
}

.profile-banner-display {
    position: relative;
    z-index: -1;
    object-fit: cover;
    box-shadow: 2px 1px 10px rgba(44, 44, 44, 0.8);
    border: 10px solid white;
}

.profile-banner-display-tinder-card {
    position: relative;
    object-fit: cover;
    margin-left: auto;
    margin-right: auto;
}

.name-holder {
    text-align: center;
    margin-top: 30px;
    padding-bottom: 10px;
    margin-right: 20%;
}

h1 {
    text-transform: capitalize;
}

.edit-profile-pic {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10000;
    font-size: 80px;
    border-radius: 50%;
    text-align: center;
    padding-top: 20%;
}

@media screen and (max-width: 600px) {
    .edit-profile-pic {
        top: 0;
        left: 0;
    }
}

.edit-profile-banner {
    position: absolute;
    /* top: 25%;
    left: 80%; */
 
  
}

@media screen and (max-width: 600px) {
    .edit-profile-banner {
        /* top: 27%;
        left: 75%; */
    }
    .profile-banner::before {
        width: 95.5vw;
    }
}
.edit-profile-pic-button {
    font-size: 100px;
}